* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 15px;
  text-align: center;
  min-height: 100vh;
  max-width: 100vw;
  background-image: url('https://i.ytimg.com/vi/2Gg6Seob5Mg/maxresdefault.jpg');
  background-size: cover;
}

.movie-list-title {
  font-size: 3rem;
  color: white;
  background: rgb(0, 0, 0);
  text-transform: uppercase;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.List-Item {
  padding: 10px;
  display: flex;
  text-align: left;
  align-items: flex-end;
  width: 25%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 90%
  );
  color: white;
  font-size: 2rem;
  padding: 10px 0;
  position: relative;
}

.movie-poster {
  width: 100px;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.Form {
  display: flex;
  margin: 20px;
}
